# Data Science Assignment No-3

# Question No-1

In [7]:
import pandas as pd
import numpy as np
from scipy import stats

In [8]:
# Hypthesis testing 
# H0 = There is no difference in the diameter of the cutlet between two units
# H1 = There is a difference in the diameter of the cutlet between two units

# Which test to be used ?
# We will use t-test as it is based on sample data and not the population data

# alpha = 0.05 as it is given to drwa inferences at 5% significance level

In [9]:
cutlet = pd.read_csv("Cutlets.csv")

In [10]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [11]:
cutlet_unitA = pd.Series(cutlet.iloc[:,0]) # for unit A
cutlet_unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [12]:
cutlet_unitB = pd.Series(cutlet.iloc[:,1]) # for unit B
cutlet_unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [13]:
# Computing p-value from t-value

statistics = stats.ttest_ind(cutlet_unitA, cutlet_unitB)
statistics

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [14]:
statistics[1] # for p-value

0.4722394724599501

In [ ]:
# Comparing p value with alpha
# p value = 0.472
# alpha = 0.05

#Since p value is greater than alpha - we fail to reject the null, hence we ac