# Data Science Assignment No-3

# Question No-2

In [2]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
import scipy.stats as stats

In [3]:
# Hypthesis testing 
# H0 = There is no difference in the average TAT among 4 laboratories
# H1 = There is a difference in the average TAT among 4 laboratories

# Which test to be used ?
# We will use Anova as we need to compare the average TAT among 4 different laboratories

# About Anova - Analysis of Variance( ANOVA ) is a statistical technique which is used to check if the means of two or more groups are statistically different from each other.


# alpha = 0.05 as it is given to drwa inferences at 5% significance level

In [4]:
laboratories = pd.read_csv("LabTAT.csv")

In [5]:
laboratories.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [8]:
statistics = stats.f_oneway(laboratories["Laboratory 1"], laboratories["Laboratory 2"], laboratories["Laboratory 3"], laboratories["Laboratory 4"])

In [10]:
statistics

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [9]:
statistics[1] # to get the p value

2.1156708949992414e-57

In [ ]:
# since p value is greater than alpha - we fail to reject the null
# hence there is no difference in the average TAT among 4 different laboratories at 5% significance level